[*.cs]

# IDE0011: Add braces
csharp_prefer_braces = false

# IDE0022: Use block body for methods
csharp_style_expression_bodied_methods = true

# IDE0021: Use block body for constructors
csharp_style_expression_bodied_constructors = true
