<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Component.Properties.Settings.catalogConnectionString" connectionString="Data Source=COLIN-DESKTOP\SQLEXPRESS;Initial Catalog=catalog;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="Component.Properties.Settings.materialsConnectionString" connectionString="Data Source=COLIN-DESKTOP\SQLEXPRESS;Initial Catalog=materials;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>