<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Component.Properties.Settings.catalogConnectionString"
            connectionString="Data Source=COLIN-DESKTOP\SQLEXPRESS;Initial Catalog=catalog;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>